
module mypol 1.0;

require {
	type httpd_t;
	type default_t;
	type httpd_sys_content_t;
	type avahi_t;
	class dbus send_msg;
	class dir write;
}

#============= httpd_t ==============

#!!!! This avc is allowed in the current policy
allow httpd_t avahi_t:dbus send_msg;

#!!!! This avc is allowed in the current policy
allow httpd_t default_t:dir write;

#!!!! This avc is allowed in the current policy
allow httpd_t httpd_sys_content_t:dir write;
